body {
    overflow: none;
}

.jumbotron {
    text-align: center;
    background-image: url("../assets/images/paw-prints.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    margin-top: 20px;
}

.footer {
    right: 0;
    left: 0;
    bottom: 0 !important;
    height: 40px !important;
    padding: 10px !important;
    color: #fff;
}

.content {
    position: absolute !important;
    top: 205px;
    left: 0;
    right: 0;
    bottom: 41px;
    padding: 5px;
    height: calc(100vh - 230px);
    overflow: auto;
}

.card {
    margin: 15px 0 15px 0;
}

.btn {
    background-color:black;
    color: white;
}

@media only screen and (max-width: 700px) {
    .card-img-top {
        width: 10px;
    }
}