.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}

.btn {
    background-color: gray;
    color: white;
}