body {
    overflow: none;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  z-index: 1;
}

.collapse {
    height: 75px;
}

.btn-light {
    color: black;
    background-color: white;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content {
    position: absolute !important;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 41px;
    padding: 5px;
    height: calc(100vh - 105px);
    overflow: auto;
}

label {
    font-weight: bold;
}

.btn-dark {
    color: white !important;
    border-color: black;
    font-size: 18px !important;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-dark:hover {
    background-color: gray;
    color: white;
    border-color: gray;
}

.card {
    margin: 15px 0 15px 0;
}

.card:hover {
    border: solid 2px green;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.pupBody:hover {
    background-color: #e6e6e6;
}

a {
    color: black !important;
}

.modal-header {
    background-color: yellow;
}

.footer {
    right: 0;
    left: 0;
    bottom: 0 !important;
    height: 40px !important;
    padding: 10px !important;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        width: 100%;
        height: auto;
    }
}