body {
    overflow: none;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: 1;
}

a {
    color: white !important;
}

label {
    font-weight: bold;
}

.footer {
    right: 0;
    left: 0;
    bottom: 0 !important;
    height: 40px !important;
    padding: 10px !important;
    color: #fff;
}

.content {
    position: absolute !important;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 41px;
    padding: 5px;
    height: calc(100vh - 105px);
    overflow: auto;
}

.card {
    margin: 15px 0 15px 0;
}

.btn {
    background-color:black;
    color: white;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        width: 100%;
        height: auto;
    }
}